<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="options">
      <form action="/create_poll_options" method="post">
        <% for(let i = 1; i<= numPolls; i++ ){ %>
        <div class="row">
          <label for="option <%= i %>:">option <%= i %>:</label>
          <input type="text" name="option<%= i %>" />
        </div>
        <% } %>
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
